<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.jiangxk.zhengyuansmallclassroom">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESSNETWORKSTATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <dist:module dist:instant="true" />

    <application
        android:name="com.jiangxk.zhengyuansmallclassroom.application.ClassroomApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name="com.jiangxk.zhengyuansmallclassroom.ui.activity.splash.SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.activity.home.HomeActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.login.LoginActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.course.SubjectPageActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.course.NodePageActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.course.ChapterPageActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.course.CourseListPageActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.course.CourseVideoPlayerActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/FullscreenTheme" />

        <activity
            android:name=".ui.activity.course.CalligraphyCourseListActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.learning.LearningOrderActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.manager.ManagerUserActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.manager.LimitCoursePageActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.learning.StatisticalLearningActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.dm.sdk.ads.DMAdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize" />
    </application>

</manifest>